# Files Reading and Writing

In [1]:
import numpy as np, pandas as pd

In [2]:
array = np.random.randint(10,50, size = (5,6))
array

array([[26, 18, 21, 49, 43, 49],
       [48, 31, 22, 16, 44, 33],
       [40, 18, 25, 39, 46, 12],
       [12, 27, 10, 19, 43, 10],
       [21, 27, 22, 11, 41, 17]])

In [4]:
df = pd.DataFrame(array, index=list('PYTHO'), columns=list('ABCDEF'))
df

    A   B   C   D   E   F
P  26  18  21  49  43  49
Y  48  31  22  16  44  33
T  40  18  25  39  46  12
H  12  27  10  19  43  10
O  21  27  22  11  41  17

## CSV Files

In [ ]:
CSV files are camma-separated files, contains only one spread-sheet

Read a comma-separated values (csv) file into DataFrame.
Also supports optionally iterating or breaking of the file into chunks.


pd.read_csv(filepath.csv, sep='', delimiter=None, header='infer', 
            index_col=None, usecols=None, engine=None)

In [5]:
movies_df = pd.read_csv('movies_data.csv')
movies_df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [6]:
action_df = movies_df.groupby('genre').get_group('Action')
action_df
crime_df = movies_df.groupby('genre').get_group('Crime')
crime_df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
...,...,...,...,...,...,...
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [7]:
movies_df.to_excel("Movies.xlsx", sheet_name='All_Movies',index = False)

In [8]:
action_df.to_excel("Movies.xlsx", sheet_name='Action',index = False)

In [9]:
crime_df.to_excel("Movies.xlsx", sheet_name='Crime',index = False)

In [13]:
Writer = pd.ExcelWriter('Movies.xlsx', engine='xlsxwriter')     #Class for writing DataFrame objects into excel sheets.


movies_df.to_excel(Writer, sheet_name='All_Movies',index = False)
action_df.to_excel(Writer, sheet_name='Action',index = False)
crime_df.to_excel(Writer, sheet_name='Crime',index = False)
Writer.save()